@media screen and (max-width:1005px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        display: inline-block;
        flex: 100%;
        margin: 5%;
        text-align: center;
        margin-right: 50px;
    }

    .card {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .card:hover {
        width: 90%;
    }

    .whats {
        display: none;

    }

    .section {
        height: 100%;
    }

    .servicos {
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
    }
}

@media screen and (max-width:1250px) {
    .header {
        padding-top: 10%;
    }

}